@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans+Narrow:wght@700&family=Raleway:wght@900&display=swap");
* {
  position: relative;
}

body {
  color: white;
  font-family: sans-serif;
  background: rgb(34, 32, 32);
  background: radial-gradient(
    circle,
    rgba(34, 32, 32, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 50px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dot {
  height: 20px;
  min-width: 20px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 10px;
}

.text {
  color: #777;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px;
  font-size: 40px;
  white-space: nowrap;
}


*{
  margin:0; 
  paddin: 0;
}

.card-container{
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 40px; 
  
}
.plan-standard{
  background-color: #ffffff; 
  padding: 20px 30px; 
  border: 2px solid #ffffff; 
  transition: 0.5s;
}

.plan-standard:hover{
    border: 2px solid rgb(58, 58, 202); 
}

.plan-container{ 
text-align: center; 
  
  
}

.heading{
  color: #777;
  font-weight: 500;
  font-size: 16px;
}

.price{
  color: black;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
}

.duration{
  color: #777;
  font-weight: 500;
  font-size: 16px;
}

.description{
  color: #777;
  font-weight: 500;
  font-size: 16px;
}

.features{
    list-style: none;
    text-decoration:none; 
    margin: 30px 0 40px 0; 
}

li{
  color: black; 
}

.btn-container{
  display: flex; 
  align-items: center;
  justify-content: center;
}


.btn{
    text-decoration: none; 
    text-align: center;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    background: #555;
    color: black;
    font-size: 18px;
    transition: 0.2s;
    padding: 0 20px 0 20px;
}